In [1]:
#Q1
tilak = "hello everyone"
li = ["list",12,True,43.655]
marks = 23.453
tup = ("hello",12,False)
type(tilak)
type(li)
type(marks)
type(tup)

tuple

In [2]:
#Q2
var1 = '' #type is String
var2 = '[DS,ML,PYTHON]'#type is String
var3 = ['DS','ML','PYTHON']#type is List
var4 = 1 #type is Int

str

In [ ]:
#Q3
10/2 #this is a arthametic operator that does divison it divides 10 with 2 and gives answer 5
5%2 #this is a modulus operator it gives output the remainder of the divison that occurs here 2 divides 4 and remainder 1 is returned
5//2 #this is also a divison operator that returns value in integer data type
2**2#this is a exponential operator it is used here as a power that is here 2 is raised to power 2 and it returns 4 as output

In [4]:
list_1 = ['HII',123,12.43,True,[1,2,3],(23.34,12,"hello"),False,1,"tilak",True]
print(len(list_1))
for i in list_1:
    print(i,end=" ")
    print(type(i))

10
HII <class 'str'>
123 <class 'int'>
12.43 <class 'float'>
True <class 'bool'>
[1, 2, 3] <class 'list'>
(23.34, 12, 'hello') <class 'tuple'>
False <class 'bool'>
1 <class 'int'>
tilak <class 'str'>
True <class 'bool'>

In [2]:
num_1 = 24
num_2 = 12
count = 0
while (True):
    if num_1%num_2==0:
        count += 1
        num_1 = num_1/num_2
        print("it is divisible")
    else:
        break
print(f"it can be divided purely {count} time")

it is divisible
it can be divided purely 1 time

In [3]:
my_list=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,27,18,19,20,21,23,22,24,25]
for i in my_list:
    print(i)
    if 1%3==0:
        print("it is divisible by 3")
    else:
        print("it is not divisible by three")

1
it is not divisible by three
2
it is not divisible by three
3
it is not divisible by three
4
it is not divisible by three
5
it is not divisible by three
6
it is not divisible by three
7
it is not divisible by three
8
it is not divisible by three
9
it is not divisible by three
10
it is not divisible by three
11
it is not divisible by three
12
it is not divisible by three
13
it is not divisible by three
14
it is not divisible by three
15
it is not divisible by three
16
it is not divisible by three
27
it is not divisible by three
18
it is not divisible by three
19
it is not divisible by three
20
it is not divisible by three
21
it is not divisible by three
23
it is not divisible by three
22
it is not divisible by three
24
it is not divisible by three
25
it is not divisible by three

In [4]:
#mutable data type means the data can be changed ex:list
#immutable data type means the data cannot be changed ex:tuple
list_1=[1,2,3]
list_1[2]=4
print(list_1)
tuple_1=(1,2,3)
tuple_1[2]=4
print(tuple_1)

[1, 2, 4]

TypeError: 'tuple' object does not support item assignment