In [8]:
tple = [("sachin tendulkar", 345234),("Ricky Poting" , 2354),("jack" , 34543),("virat",12312)]
sorted_tuple = sorted(tple, key = lambda x:x[1])
print(sorted_tuple)

[('Ricky Poting', 2354), ('virat', 12312), ('jack', 34543), ('sachin tendulkar', 345234)]

In [12]:
list_1 = [1,2,3,4,5,6,7,8,9,10]
li = list(map(lambda x:x**2 , list_1))
print(li)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [14]:
list_2 = [1,2,3,4,5,6,7,8,9,10]
li2 = tuple(map(lambda x:str(x),list_2))
print(li2)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [17]:
from functools import reduce
list_3 = [x for x in range(1,26)]

pro_list = reduce(lambda x,y:x*y,list_3)
print(pro_list)

15511210043330985984000000

In [23]:
list_4 =[2,3,6,9,27,60,90,120,55,46]
even_li = list(filter(lambda x: x % 2 == 0 , list_4))
odd_li = list(filter(lambda x: x % 2 != 0 , list_4))
print(even_li)
print(odd_li)

[2, 6, 60, 90, 120, 46]
[3, 9, 27, 55]

In [ ]:
list_5 = ['python' ,'php','aba','radar','level']
li5 = list(filter(lambda x: x2 =x[::-1] if x==x2) )