In [1]:
import pandas as pd

In [3]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
data = [4,8,15,16,23,42]
series = pd.Series(data)
series

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
li = [1,2,3,4,5,6,7,8,9,0]
series = pd.Series(li)
series

In [5]:
data = {'Name':['Alice','Bob','charlie'],
        'Age':['25','30','27'],
        'Gender':['Female','Male','Female']
       }
dff = pd.DataFrame(data)
dff

      Name Age  Gender
0    Alice  25  Female
1      Bob  30    Male
2  charlie  27  Female

In [7]:
#data frame is a twodimentional data structure that contians rows and columns
#series is like a list but it conttains indexes
data = {'Name':['Alice','Bob','charlie'],
        'Age':['25','30','27'],
        'Gender':['Female','Male','Female']
       }
dff = pd.DataFrame(data)
#here dff is a dataframe
#but the dff['name'] is a series which gives a list of names with indexes
type(dff['Name'])

pandas.core.series.Series

In [ ]:
#some commen functioms in pandas are
import pandas  as pd
#we can read a csv or a excel or any other file using pandas
df=pd.read_csv(filename)
#we can get columns in the data frame by this
df.columns
#we can filer the data accordidng to a specific condition
df[df['age']>20]
#you can add a neew column
df['new'] = 1

In [ ]:
#Series and DataFrame are mutable in nature and panel is not mutable in nature

In [14]:
data = ['2',8,15,16,23,42]
series = pd.Series(data)
data1 = ['3',8,15,16,23,42]
series1 = pd.Series(data1)
data2 = ['4',8,15,16,23,42]
series2 = pd.Series(data2)
d = {'col1':series,'col2':series1,'col3':series2}
dd = pd.DataFrame(d)
dd

  col1 col2 col3
0    2    3    4
1    8    8    8
2   15   15   15
3   16   16   16
4   23   23   23
5   42   42   42