In [15]:
#five functons of pandas are
#reading a csv file df = pd.read_csv('data.csv')
"""grouping:
data = {'Category': ['A', 'B', 'A', 'B', 'A'],
        'Value': [10, 20, 15, 25, 30]}
df = pd.DataFrame(data)
grouped = df.groupby('Category').sum()"""

"""merging
df1 = pd.DataFrame({'ID': [1, 2, 3],
                    'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [2, 3, 4],
                    'Age': [25, 30, 22]})
merged_df = pd.merge(df1, df2, on='ID')
"""

"""filling nan
data = {'A': [1, 2, np.nan, 4],
        'B': [5, np.nan, 7, 8]}
df = pd.DataFrame(data)
filled_df = df.fillna(0)"""
"""removingnan
data = {'A': [1, 2, np.nan, 4],
        'B': [5, np.nan, 7, 8]}
df = pd.DataFrame(data)
filled_df = df.dropna(0)"""

"removingnan\ndata = {'A': [1, 2, np.nan, 4],\n        'B': [5, np.nan, 7, 8]}\ndf = pd.DataFrame(data)\nfilled_df = df.dropna(0)"

In [15]:
import pandas as pd
d = {'A':pd.Series([1,2,3,4]),'B':pd.Series([1,2,3,4]),'C':pd.Series([1,2,3,4])}
df = pd.DataFrame(d)
def reindex(df):
    inde = []
    for i in range(1,len(df)*2,2):
        inde.append(i)
    df1 = df.copy()
    df1.index = inde
    print(df1)
reindex(df)

   A  B  C
1  1  1  1
3  2  2  2
5  3  3  3
7  4  4  4

In [18]:
import pandas as pd
df = pd.DataFrame({'values':[10,20,30,40]})
def sumofthree(df,column_name):
    print(df[column_name][0:3].sum())
sumofthree(df,'values')

60

In [20]:
import pandas as pd
df = pd.DataFrame({'Text':['tilak','saikiran','lokesh','eswar']})
df['word_count'] = df['Text'].apply(len)
df

       Text  word_count
0     tilak           5
1  saikiran           8
2    lokesh           6
3     eswar           5

In [21]:
#DataFrame.size returns the total number of elements in the DataFrame, which is equal to the number of rows multiplied by the number of columns.
#DataFrame.shape returns a tuple representing the dimensions of the DataFrame in the form (rows, columns).

In [22]:
#we use pd.read_excel(filename) to raad an excel file

In [25]:
import pandas as pd

data = {'Email': [
    'johndoe@example.com',
    'janesmith@example.com',
    'robertjohnson@example.com',
    'marybrown@example.com',
    'davidwilson@example.com'
]}

df = pd.DataFrame(data)
def user_name(x):
    x = x.split('@')
    return x[0]
df['UserName'] = df['Email'].apply(user_name)
df

                       Email       UserName
0        johndoe@example.com        johndoe
1      janesmith@example.com      janesmith
2  robertjohnson@example.com  robertjohnson
3      marybrown@example.com      marybrown
4    davidwilson@example.com    davidwilson

In [1]:
import pandas as pd

def filter_dataframe(df):
    filtered_df = df[(df['A'] > 6) & (df['B'] < 10)]
    return filtered_df

# Sample DataFrame with columns 'A', 'B', and 'C'
data = {'A': [3, 8, 6, 2, 9],
        'B': [5, 2, 9, 3, 1],
        'C': [1, 7, 4, 5, 2]}
df = pd.DataFrame(data)

# Call the function to filter the DataFrame
filtered_df = filter_dataframe(df)

print(filtered_df)

   A  B  C
1  8  2  7
4  9  1  2

In [5]:
import pandas as pd
df = pd.DataFrame({'values':[10,20,30,40]})
def centralTendancy(df):
    mean = df['values'].mean()
    median = df['values'].median()
    var = df['values'].var()
    print(mean,median,var)
centralTendancy(df)

25.0 25.0 166.66666666666666

In [9]:
import pandas as pd

def calculate_moving_average(df, window_size=7):
    df['MovingAverage'] = df['Sales'].rolling(window=window_size, min_periods=1).mean()
    return df

# Sample DataFrame with columns 'Sales' and 'Date'
data = {'Sales': [100, 200, 150, 300, 250, 180, 220, 160, 280, 230],
        'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05',
                 '2023-01-06', '2023-01-07', '2023-01-08', '2023-01-09', '2023-01-10']}

df = pd.DataFrame(data)
# Call the function to calculate the moving average
df = calculate_moving_average(df)

print(df)

   Sales        Date  MovingAverage
0    100  2023-01-01     100.000000
1    200  2023-01-02     150.000000
2    150  2023-01-03     150.000000
3    300  2023-01-04     187.500000
4    250  2023-01-05     200.000000
5    180  2023-01-06     196.666667
6    220  2023-01-07     200.000000
7    160  2023-01-08     208.571429
8    280  2023-01-09     220.000000
9    230  2023-01-10     231.428571

In [12]:
import pandas as pd

data = {'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']}

df = pd.DataFrame(data)
df['Date'] = pd.to_datetime(df['Date'])
def week(df):
    df['weekday'] = df['Date'].dt.day_name()
    return df
week(df)

        Date    weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

In [13]:
import pandas as pd

def filter_date_range(df, start_date, end_date):
    mask = (df['Date'] >= start_date) & (df['Date'] <= end_date)
    filtered_df = df[mask]
    return filtered_df

# Sample DataFrame with column 'Date'
data = {'Date': ['2023-01-10', '2023-01-15', '2023-02-05', '2023-01-20', '2023-01-25']}
df = pd.DataFrame(data)

# Convert the 'Date' column to datetime format
df['Date'] = pd.to_datetime(df['Date'])

# Call the function to filter the DataFrame
filtered_df = filter_date_range(df, '2023-01-01', '2023-01-31')

print(filtered_df)

        Date
0 2023-01-10
1 2023-01-15
3 2023-01-20
4 2023-01-25

In [14]:
#to use the bassic functionality of pandas first pandas library need to be imported